body {
  margin: 0;
  width: 100%;

  .all {
    //position: fixed;
    .top {
      background-repeat: no-repeat;
      background-position: bottom;
      height: 20vw;

      img {
        position: absolute;
        height: 20vw;
        width: 100vw
      }

      div {
        height: 16vw;
      }
    }

    .img-favourite {
      float: right;
      margin-top: 2vw;
      width: 15vw;

      img {
        width: 8vw;
        height: 8vh;
      }
    }

    .img-favourite:hover {
      cursor: pointer;
    }

    .img-nearest {
      float: right;
      margin-top: 2vw;
      width: 13vw;
      top: 0;
      right: 0;

      img {
        width: 8vw;
        height: 8vh;
      }
    }

    .img-nearest:hover {
      cursor: pointer;
    }

    .select {
      display: flex;
      width: 100vw;
      height: 13vw;
      padding-top: 2vw;
      background-color: white;

      .city {
        height: 13vw;
        width: 35vw;
        line-height: 13vw;
        text-align: center;
        font-size: 45px;
        font-weight: initial;
      }

      .city:hover {
        cursor: pointer;
      }

      .input {
        width: 65vw;

        input {
          height: 12vw;
          width: 60vw;
          border: groove;
          border-radius: 1vw;
          font-size: 4vw;
        }

        input:focus {
          outline: gray;
        }

        img {
          width: 10vw;
          height: 10vw;
        }
      }
    }
  }

  .body-place {
    display: flex;
    height: auto;
    padding-top: 1vw;

    .left {
      display: flex;
      flex-direction: column;
      width: 88vw;
      margin-right: 2.3vw;
      .head {
        width: 88vw;
        line-height: 13vw;
        font-size: 55px;
        border-block-width: 0.3vw;
        background-color: whitesmoke;

        #title {
          padding-left: 5vw;
          border-bottom: groove;
          border-block-width: 0.3vw
        }

        .body {
          width: 94%;
          height: 13vw;
          padding-left: 5vw;
          border-bottom: groove;
          border-block-width: 0.3vw;
          background-color: white;
        }

        .body:hover {
          cursor: pointer;
        }
      }
    }

    .right {
      display: flex;
      position: fixed;
      right: 2vw;
      margin-right: 1vw;
      flex-direction: column;
      //margin-left: 1.1vw;
      a {
        width: 8vw;
        height: 10vw;
        font-size: 55px;
        text-align: center;
        line-height: 9vw;
        text-decoration: none;
        color: powderblue;
        background-color: white;

      }

      div:hover {
        cursor: pointer;
      }
    }
    .right2{
      position: inherit;
      margin-left: 1.1vw;
    }
  }

  .body-company {
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column;

    .company {
      height: 13vw;
      padding-left: 5vw;
      line-height: 13vw;
      font-size: 40px;
      border-bottom: groove;
      border-block-width: 0.3vw;
    }
  }
}
