.menu {
	width: 1001px;
	height: 38px;
	margin: auto;

}

.menu>.menu-item {
	width: 143px;
	height: 38px;
	background-color: rgb(87, 159, 34);
	cursor: pointer;
	line-height: 38px;
	float: left;
	color: white;
	text-align: center;
	font-size: 16px;
}

.menu>.menu-item:hover {
	background-color: rgb(255, 90, 0);
}

.search-box {
	background-color: rgb(255, 236, 219);
	width: 961px;
	height: 32px;
	margin: auto;
	padding-top: 12px;
	padding-left: 40px;

}

.search-text {
	margin-left: 750px;
	width: 206px;
	height: 100%;
}

.search {
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	font-family: 宋体;
	font-size: 18.667px;
	width: 135px;
	height: 20px;
	border: 0px;
	vertical-align: middle;
	cursor: pointer;
}

.search-date {
	color: #5f5f5f;
	font-size: 16px;
	font-weight:500;
	font-family: "宋体";
	float: left;
}

.search-advice {
	color: #ff0000;
	font-size: 16px;
    font-weight: 900;
	font-family: "宋体";
	float: left;
	margin-left: 50px;
}

.triangle {
	width: 3px;
	height: 30px;
	float: left;
}

.search-button {
	width: 46px;
	height: 22px;
	vertical-align: middle;
	background-image: url(img1/search.PNG);
	outline: none;
	border: 0px;
	cursor: pointer;
}

.middle {
	margin: 12px auto;
	position: relative;
	width: 998px;
	height: 274px;
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	background: #fff;
}

.left {
	width: 500px;
	height: 274px;
	float: left;
}

.middle-picture {
	/* 	  width: 500px;
	  height: 274px; */
	width: 100%;
	height: 100%;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}

.second-menu {
	width: 498px;
	height: 276px;
	float: left;
	border-bottom: 1px solid #e5e5e5;
	box-shadow: 0px 3px 0px 0px #e5e5e5;
}

.tab {
	border-top: 1px solid #e5e5e5;
}

.tab:hover>.middle-item {
	color: #ff5a00 !important;
}

.tab:hover>.middle-item-second {
	color: #ff5a00 !important;
}

.middle-item {
	margin-left: 17px;
	margin-top: 10px;
	width: 428px;
	height: 20px;
	/* 	line-height: 20px; */
	font-size: 14px;
	font-family: "宋体";
	font-weight: bold;
	color: #666;
	/* overflow: hidden; */
}

.middle-item-second {
	margin-left: 18px;
	margin-top: 8px;
	padding-bottom: 13px;
	height: 16px;
	/* 	line-height: 16px; */
	color: #999;
	font-size: 12px;
	overflow: hidden;
}

.tab:hover {
	border-left: 3px solid #ff5a00;
	color: #ff5a00 !important;
}

.inform {
	height: 273px;
	width: 1001px;
	margin: auto;
}

.inform-left {
	width: 655px;
	height: 273px;
	float: left;
}

.inform-title {
	width: 275.9px;
	height: 36px;
	float: left;
}

.tnews-part {
	width: 100%;
	height: 35px;
}

.tnews-second {
	width: 275.9px;
	height: 35px;
}

.tnews-box {
	width: 320px;
	height: 256px;
	float: left;
}

.tnews {
	width: 68px;
	height: 35px;
	line-height: 35px;
	background-color: green;
	color: white;
	text-align: center;
	font-family: 宋体;
	font-size: 14.6667px;
	margin-left: 4px;
	font-weight: bold;
}

.float {
	float: left;
}

.tnews-third {
	width: 115px;
	height: 35px;
	line-height: 35px;
	background-color: white;
	color: #5f5f5f;
	text-align: center;
	font-family: 宋体;
	font-size: 14.6667px;
	margin-left: 4px;
	font-weight: bold;
	float: left;
}

.tnews-third:hover {
	background-color: green;
	color: white;
	font-weight: bold;
}

.tnews-line {
	width: 275.9px;
	height: 1px;
	background-color: green;
}


.tnews-line-second {
	width: 100%;
	height: 1px;
	background-color: green;
}

.tnews-more {
	float: right;
	margin-right: 13px;
	margin-top: 20px;
	font-size: 12px;
	font-family: "宋体"

}

.tnews-more:hover {
	color: royalblue;
	cursor: pointer;

}

.inform-content {
	width: 300px;
	height: 30px;
	float: left;
	cursor: pointer;
}

.all-information {
	width: 320px;
	height: 36px;
}

.content-left {
	font-size: 14px;
	width: 5px;
	height: 30px;
	margin-top: 5px;
	vertical-align: middle;
	float: left;
}

.content-right {
	color: rgb(153, 153, 153);
	margin-top: 5px;
	float: right;
	font-size: 14px;
	width: 49px;
	height: 30px;
}

.detail-content {
	float: left;
	line-height: 30px;
	vertical-align: middle;
	font-size: 14px;
	width: 235px;
	height: 30px;
}

.tnews-box-second {
	width: 320px;
	height: 256px;
	float: left;
	margin-left: 9px;
}

.inform-content:hover {
	color: #ff5a00;
}

.inform-right {
	float: right;
	height: 275px;
	width: 325px;
}

.vegetable-first {
	height: 130px;
	width: 98.11%;
}

.vegetable-second {
	margin-top: 10px;
	height: 130px;
	width: 98.11%;
}

.vegetable-png {
	float: left;
	height: 130px;
	width: 158.5px;
	cursor: pointer;
}

.box {
	height: 95px;
	width: 1004px;
	padding-top: 10px;
	margin: auto;
	/* 	border: 1px solid red; */
}

.box-picture {
	height: 100%;
	width: 100%;
}

.picture-package {
	height: 258px;
	width: 1004px;
	padding-top: 10px;
	margin: auto;
}

.package-left {
	width: 730px;
	height: 100%;
	float: left;
}

.package-first {
	width: 174px;
	height: 100%;
	float: left;
}

.package-second {
	margin-left: 10px;
	width: 174px;
	height: 100%;
	float: left;
}

.package-right {
	float: right;
	width: 260px;
	height: 100%;

}

.package-third {
	width: 100%;
	height: 124px;
}

.package-forth {
	margin-top: 5px;
	width: 100%;
	height: 124px;
}

.bottom-box {
	width: 1001px;
	height: 245px;
	margin: auto;
	padding: 10px;
}
}
