<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>

<div id="app-1">
    <div v-for="item in items">
        <div>{{item.title}}
            <div v-for="i in item.list">
                {{i.name}}
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var app1 = new Vue({
        el:"#app-1",
        data:{
                items:[
                    {title:"a",list:[{id:11,name:'11aaa'},{id:12,name:'12aaa'},{id:13,name:'13aaa'},{id:14,name:'14aaa'}]},
                    {title:"b",list:[{id:11,name:'aaa'},{id:12,name:'aaa'},{id:13,name:'aaa'},{id:14,name:'aaa'}]},
                    {title:"c",list:[{id:11,name:'aaa'},{id:12,name:'aaa'},{id:13,name:'aaa'},{id:14,name:'aaa'}]},
                    {title:"d",list:[{id:11,name:'aaa'},{id:12,name:'aaa'},{id:13,name:'aaa'},{id:14,name:'aaa'}]},
                    {title:"e",list:[{id:11,name:'aaa'},{id:12,name:'aaa'},{id:13,name:'aaa'},{id:14,name:'aaa'}]},
                ],
                a : 'aaa'
        }
    })
</script>
</html>
