body {
  margin: 0;
  width: 100%; }
  body .all .top {
    background-repeat: no-repeat;
    background-position: bottom;
    height: 20vw; }
    body .all .top img {
      position: absolute;
      height: 20vw;
      width: 100vw; }
    body .all .top div {
      height: 16vw; }
  body .all .img-favourite {
    float: right;
    margin-top: 2vw;
    width: 15vw; }
    body .all .img-favourite img {
      width: 8vw;
      height: 8vh; }
  body .all .img-favourite:hover {
    cursor: pointer; }
  body .all .img-nearest {
    float: right;
    margin-top: 2vw;
    margin-left: 72vw;
    width: 13vw;
    top: 0;
    right: 0; }
    body .all .img-nearest img {
      width: 8vw;
      height: 8vh; }
  body .all .img-nearest:hover {
    cursor: pointer; }
  body .all .select {
    display: flex;
    width: 100vw;
    height: 13vw;
    padding-top: 2vw;
    background-color: white; }
    body .all .select .city {
      height: 13vw;
      width: 35vw;
      line-height: 13vw;
      text-align: center;
      font-size: 45px;
      font-weight: initial; }
    body .all .select .city:hover {
      cursor: pointer; }
    body .all .select .input {
      width: 65vw; }
      body .all .select .input input {
        height: 12vw;
        width: 60vw;
        border: groove;
        border-radius: 1vw;
        font-size: 4vw; }
      body .all .select .input input:focus {
        outline: gray; }
      body .all .select .input img {
        width: 10vw;
        height: 10vw; }
  body .body-place {
    display: flex;
    height: auto;
    padding-top: 1vw; }
    body .body-place .left {
      display: flex;
      flex-direction: column;
      width: 90vw;
      margin-right: 2.3vw; }
      body .body-place .left .head {
        width: 98%;
        line-height: 13vw;
        font-size: 55px;
        border-block-width: 0.3vw;
        background-color: whitesmoke; }
        body .body-place .left .head #title {
          padding-left: 5vw;
          border-bottom: groove;
          border-block-width: 0.3vw; }
        body .body-place .left .head .body {
          width: 94%;
          height: 13vw;
          padding-left: 5vw;
          border-bottom: groove;
          border-block-width: 0.3vw;
          background-color: white; }
        body .body-place .left .head .body:hover {
          cursor: pointer; }
    body .body-place .right {
      display: flex;
      position: fixed;
      right: 2vw;
      margin-right: 1vw;
      flex-direction: column; }
      body .body-place .right a {
        width: 8vw;
        height: 10vw;
        font-size: 55px;
        text-align: center;
        line-height: 9vw;
        text-decoration: none;
        color: powderblue;
        background-color: white; }
      body .body-place .right div:hover {
        cursor: pointer; }
  body .body-company {
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column; }
    body .body-company .company {
      height: 13vw;
      padding-left: 5vw;
      line-height: 13vw;
      font-size: 40px;
      border-bottom: groove;
      border-block-width: 0.3vw; }

/*# sourceMappingURL=phone.css.map */
