<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="text/javascript"
            src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=ioO6dD2uRuBucqNzcccfSeaU2xgjlgdk"></script>
    <link rel="stylesheet" href="choose.css">
    <meta charset="UTF-8">
    <title>查询界面</title>
</head>
<body>
<div id="app">
    <div class="top">
        <img src="../../../img/phone/logobeifen2.png"/>
        <div class="img-favourite">
            <img src="../../../img/phone/favourite.svg">
        </div>
        <div class="img-nearest">
            <img src="../../../img/phone/nearest.svg">
        </div>
    </div>
    <div class="body">
        <img src="../../../img/phone/bg-touming.png"/>
        <div class="text title">星徽透明车间</div>
        <div class="line-one z-index">
            <div class="number">车牌号</div>
            <div class="color" onclick="block()">
                <div id="place">京</div>
                <div class="solid"></div>
            </div>
            <div class="input">
                <div class="text">
                    <input type="text" placeholder="填写您的车牌号" v-model="numberInput">
                </div>
            </div>
        </div>
        <div class="line-two z-index">
            <div class="number">4 S 店</div>
            <div class="place">
                <div class="company">
                    <div id="l-map" style="display: none"></div>
                    <a href="../choosedealer/v2/chooseCity/phone.html" v-if="dealerName == null">{{nearDealer}}</a>
                    <a href="../choosedealer/v2/chooseCity/phone.html" v-if="dealerName !== null">{{dealerName}}</a>
                </div>
            </div>
        </div>
        <div class="select">
            <div id="select-button" v-on:click="jump">查询</div>
        </div>
    </div>
    <div class="foot-mark" id="foot">
        <div class="foot">
            <div class="line" id="for-div"></div>
        </div>
    </div>
</div>
</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            dealerName: '',
            numberInput: '',
            nearDealer: '',
        },

        created() {
            this.dealerName = window.localStorage.getItem('name')
            window.localStorage.clear();
        },
        methods: {
            jump: function () {
                let placeName = document.getElementById('place').innerText
                let number = this.numberInput
                if (number == '') {
                    alert('请输入号码！');
                } else if (number.length != 6) {
                    alert('号码不规范！');
                } else {
                    location.href = '../choosecondition/v2/condition.html'
                    window.localStorage.setItem('carNumber', placeName + number)
                }
            },
        },

    })

    function getPosition() {
        return new Promise((resolve, reject) => {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    let latitude = position.coords.latitude
                    let longitude = position.coords.longitude
                    let data = {
                        latitude: latitude,
                        longitude: longitude
                    }
                    resolve(data)
                }, function () {
                    reject(arguments)
                })
            } else {
                reject('你的浏览器不支持当前地理位置信息获取')
            }
        })
    }

    getPosition().then(result => {
        var queryData = {
            longitude: String(result.longitude).match(/\d+\.\d{0,2}/)[0],
            latitude: String(result.latitude).match(/\d+\.\d{0,2}/)[0],
            channelType: '00'
        }
        var map = new BMapGL.Map("l-map")
        var point = new BMapGL.Point(Number(queryData.longitude), Number(queryData.latitude))
        map.centerAndZoom(point, 11)

        var options = {
            onSearchComplete: function (results) {
                app.nearDealer = results.getPoi(0).title;
            }
        };
        var local = new BMapGL.LocalSearch(map, options);
        local.search("奔驰");

    }).catch(err => {
        console.log(err)
    })


    function div() {
        var title = document.getElementById("for-div");
        var arr = ['黑', '吉', '辽', '津', '京', '冀', '蒙', '苏', '沪', '啊', '说', '都',
            '发', '个', '额', '哇', '从', '还', '对', '会', '四', '并', '若', '被', '加', '锕',
            '或', '靠', '并', '该', '年', '三'];

        for (var i = 0; i < arr.length; i++) {
            var div = document.createElement('div')
            var text = document.createTextNode(arr[i]);
            div.appendChild(text);
            div.addEventListener("click", function (event) {
                var currentText = event.target.innerText;
                var place = document.getElementById("place");
                place.innerText = currentText;
            });
            title.appendChild(div);
        }
    }

    div();

    var foot;
    window.onload = function () {
        foot = document.getElementById('foot')
        foot.onclick = function () {
            this.style.display = "none";
        }
    }

    function block() {
        foot.style.display = "block";
    }


</script>
</html>
