body {
  margin: 0;
  width: 100vw; }
  body #background {
    position: absolute;
    width: 100vw;
    height: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../../img/phone/backgrounds2.png);
    z-index: -1; }
  body .top {
    background-repeat: no-repeat;
    background-position: bottom;
    height: 20vw; }
    body .top img {
      position: absolute;
      height: 20vw;
      width: 100vw; }
    body .top div {
      height: 16vw; }
  body .img-favourite {
    float: right;
    margin-top: 2vw;
    width: 15vw; }
    body .img-favourite img {
      width: 8vw;
      height: 8vh; }
  body .img-favourite:hover {
    cursor: pointer; }
  body .img-nearest {
    float: right;
    margin-top: 2vw;
    width: 13vw;
    top: 0;
    right: 0; }
    body .img-nearest img {
      width: 8vw;
      height: 8vh; }
  body .img-nearest:hover {
    cursor: pointer; }
  body .car {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 70vw;
    color: white; }
    body .car .carImg {
      height: 20vw;
      text-align: center; }
    body .car .current {
      font-size: 40px;
      text-align: center; }
    body .car .time {
      font-size: 40px;
      text-align: center; }
    body .car .text {
      font-size: 25px;
      padding: 0 4vw;
      text-align: center; }
    body .car .details {
      width: 100vw;
      font-size: 30px; }
      body .car .details .detail {
        display: flex;
        flex-wrap: wrap;
        width: 84vw;
        height: 11vw;
        margin: 0 4vw;
        padding: 2vw 4vw;
        border-radius: 1vw;
        background-color: #020429;
        align-items: center;
        justify-content: space-around; }
        body .car .details .detail .car-detail {
          width: 40%; }
  body .schedule {
    width: 100vw;
    margin-top: 4vw;
    background-color: white; }
    body .schedule .text {
      padding: 2vw 3vw;
      font-size: 40px;
      font-weight: bold; }
  body .roll {
    overflow: hidden; }
    body .roll .boxs {
      padding: 1vw 2vw;
      white-space: nowrap;
      overflow-y: auto;
      background: #eee; }
      body .roll .boxs .box {
        display: inline-block;
        width: 46vw;
        height: 40vw;
        font-size: 40px;
        margin: 0 1vw;
        background: #fff; }
        body .roll .boxs .box .box-top {
          display: flex;
          margin-top: 1vw;
          justify-content: space-around; }
          body .roll .boxs .box .box-top .start {
            margin: 1vw 0; }
          body .roll .boxs .box .box-top .on {
            width: 12vw;
            height: 6vw;
            font-size: 35px;
            line-height: 5vw;
            text-align: center;
            color: white;
            border-radius: 1vw;
            background-color: red; }
          body .roll .boxs .box .box-top .off {
            width: 12vw;
            height: 6vw;
            font-size: 35px;
            line-height: 5vw;
            text-align: center;
            color: white;
            border-radius: 1vw;
            background-color: gray; }
        body .roll .boxs .box .box-body {
          overflow: hidden;
          width: 37vw;
          margin: 5vw 2vw;
          white-space: normal;
          word-break: break-all; }
        body .roll .boxs .box .time {
          margin: 0 2vw;
          color: #999999; }
    body .roll .boxs::-webkit-scrollbar {
      display: none; }
  body .line {
    display: flex;
    justify-content: space-between; }
    body .line .line1 {
      width: 35vw;
      margin: 8vw 0;
      height: 0.3vw;
      background-color: lightgrey; }
    body .line .line2 {
      width: 35vw;
      margin: 8vw 0;
      height: 0.3vw;
      background-color: lightgrey; }
    body .line .line3 {
      font-size: 100px; }
  body .wechat {
    width: 100vw; }
    body .wechat img {
      margin: 0 30vw;
      width: 40vw;
      height: 40vw; }

/*# sourceMappingURL=condition.css.map */
