body {
  margin: 0;
  width: 100vw;

  #background {
    position: absolute;
    width: 100vw;
    height: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../../img/phone/backgrounds2.png);
    z-index: -1;
  }

  .top {
    background-repeat: no-repeat;
    background-position: bottom;
    height: 20vw;

    img {
      position: absolute;
      height: 20vw;
      width: 100vw
    }

    div {
      height: 16vw;
    }
  }

  .img-favourite {
    float: right;
    margin-top: 2vw;
    width: 15vw;

    img {
      width: 8vw;
      height: 8vh;
    }
  }

  .img-favourite:hover {
    cursor: pointer;
  }

  .img-nearest {
    float: right;
    margin-top: 2vw;
    width: 13vw;
    top: 0;
    right: 0;

    img {
      width: 8vw;
      height: 8vh;
    }
  }

  .img-nearest:hover {
    cursor: pointer;
  }

  .car {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 70vw;
    color: white;

    .carImg {
      height: 20vw;
      text-align: center;
    }

    .current {
      font-size: 40px;
      text-align: center;
    }

    .time {
      font-size: 40px;
      text-align: center;
    }

    .text {
      font-size: 25px;
      padding: 0 4vw;
      text-align: center;

    }

    .details {
      width: 100vw;
      font-size: 30px;

      .detail {
        display: flex;
        flex-wrap: wrap;
        width: 84vw;
        height: 11vw;
        margin: 0 4vw;
        padding: 2vw 4vw;
        border-radius: 1vw;
        background-color: #020429;
        align-items: center;
        justify-content: space-around;

        .car-detail {
          width: 40%;
        }
      }
    }
  }

  .schedule {
    width: 100vw;
    margin-top: 4vw;
    background-color: white;

    .text {
      padding: 2vw 3vw;
      font-size: 40px;
      font-weight: bold;
    }
  }

  .roll {
    overflow: hidden;


    .boxs {
      padding: 1vw 2vw;
      white-space: nowrap;
      overflow-y: auto;
      background: #eee;

      .box {
        display: inline-block;
        width: 46vw;
        height: 40vw;
        font-size: 40px;
        margin: 0 1vw;
        background: #fff;

        .box-top {
          display: flex;
          margin-top: 1vw;
          justify-content: space-around;

          .start {
            margin: 1vw 0;
          }

          .on {
            width: 12vw;
            height: 6vw;
            font-size: 35px;
            line-height: 5vw;
            text-align: center;
            color: white;
            border-radius: 1vw;
            background-color: red;
          }
          .off{
            width: 12vw;
            height: 6vw;
            font-size: 35px;
            line-height: 5vw;
            text-align: center;
            color: white;
            border-radius: 1vw;
            background-color: gray;
          }
        }

        .box-body {
          overflow: hidden;
          width: 37vw;
          margin: 5vw 2vw;
          white-space: normal;
          word-break: break-all;

        }

        .time {
          margin: 0 2vw;
          color: #999999;
        }
      }
    }

    .boxs::-webkit-scrollbar {
      display: none
    }
  }

  .line {
    display: flex;
    justify-content: space-between;

    .line1 {
      width: 35vw;
      margin: 8vw 0;
      height: 0.3vw;
      background-color: lightgrey;
    }

    .line2 {

      width: 35vw;
      margin: 8vw 0;
      height: 0.3vw;
      background-color: lightgrey;
    }

    .line3 {
      font-size: 100px;
    }
  }

  .wechat {
    width: 100vw;

    img {
      margin: 0 30vw;
      width: 40vw;
      height: 40vw;
    }
  }
}
